<a href="https://colab.research.google.com/github/piush-terminalwitchcraft/-Rubix-22-3-Team-7/blob/master/PY_EXP_SEM_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 1

## Q.1

In [ ]:
poem = '''
Twinkle, twinkle, little star
"How I wonder what you are"
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, 'twinkle', little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
'''

print(poem)

Twinkle, twinkle, little star
"How I wonder what you are"
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are
Twinkle, 'twinkle', little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are

## Q.2

In [ ]:
name = "Piush Paul"
sem = 4
print("Hello I am {} studying in sem %d".format(name)%(sem))

Hello I am Piush Paul studying in sem 4

## Q.3

In [ ]:
year = int(input("Enter the year- "))
flag = 0
if year%4==0:
  if year%100 != 0:
    flag = 0
  elif year%400 !=0 and year%100 == 0:
    flag = 1
  else:
    flag = 0
else:
  flag = 1

print("%d is {} leap year".format("a" if flag == 0 else "not a")%year)

Enter the year- 2020
2020 is a leap year

## Q.4

In [ ]:
for i in range(1,1000):
  num = int(i)
  order = 0 
  if num < 10 : order = 1
  elif num < 100 : order = 2
  else : order = 3
  
  tmpsum = 0
  while num > 0:
    tmpsum += (num%10)**order
    num//=10

  if tmpsum == i : 
    print("%d is an armstrong number"%i)

1 is an armstrong number
2 is an armstrong number
3 is an armstrong number
4 is an armstrong number
5 is an armstrong number
6 is an armstrong number
7 is an armstrong number
8 is an armstrong number
9 is an armstrong number
153 is an armstrong number
370 is an armstrong number
371 is an armstrong number
407 is an armstrong number

## Q.5

In [ ]:
a = 0
b = 1
num = int(input("Enter the number of terms of fibonacci sequence - "))
print("Fiboacci series of %d terms is "%num)
for i in range(1,num+1):
  if i==1 : print(0,end = " ")
  elif i==2 : print(1,end = " ")
  else : 
    c = a + b
    a = b
    b = c
    print(c,end = " ")

Enter the number of terms of fibonacci sequence - 11
Fiboacci series of 11 terms is
0 1 1 2 3 5 8 13 21 34 55

## Q.6

In [ ]:
#Pattern 1

lines = int(input("Enter the number of lines - "))
ch = ord('A')
for i in range(1,lines+1):
  for j in range(0,i):
    print(chr(ch),end = " ")
  print(" ")
  ch = ch + 1

Enter the number of lines - 5
A
B B
C C C
D D D D
E E E E E

In [ ]:
#Pattern 2
lines = int(input("Enter the number of lines - "))
for i in range(0,lines):
  for j in range(0,i):
    print(" ",end = "")
  for j in range(i,lines):
    print("*",end = "")
  print(" ")

Enter the number of lines - 3
***
 **
  *

In [ ]:
#Pattern 3
lines = int(input("Enter the number of lines - "))
for i in range(0,lines+1):
  for j in range(0,lines - i):
    print(" ",end = "")
  for j in range(1,i+1):
    print(j,end = "")   
  for j in range(2,i+1):
    print(i + 1 - j,end = "") 

  print(" ")

Enter the number of lines - 6

     1
    121
   12321
  1234321
 123454321
12345654321

In [ ]:
#Pattern 4
lines = int(input("Enter the number of lines - "))
for i in range(0,lines+1):
  for j in range(0,lines - i):
    print(" ",end = "")
  for j in range(1,i+1):
    print("* ",end = "") 
  print()

Enter the number of lines - 5

    *
   * *
  * * *
 * * * *
* * * * *

# Experiment 2

## Q.1

In [ ]:
from array import *

lists = list(map(int,input("Enter the no of elements ").split()))
array1 = array('i',lists)

for i in array1:
  print(i ,end = " ")

print()
value = int(input("Enter the value to append "))
array1.append(value)

for i in array1:
  print(i ,end = " ")

print()

print("Array in reversed order is - ")
for i in array1[::-1]:
  print(i,end = " ")

print()  

print("%d is the length of array in bytes" %(array1.itemsize))

lists2 = list(map(int,input("Enter another array to be appended").split()))
array2 = array('i',lists2)

for i in array2 :
  array1.append(i)

print("Appended array is -")
for i in array1:
  print(i,end = " ")  

index = int(input("Enter the index to be deleted "))
if index < len(array1):
  array1.pop(index)
else : 
  print("Out of range")

print("New array is - ")
for i in array1:
  print(i,end =" ")

index = int(input("Enter the index to be inserted ")) 
value = int(input("Enter the element to be deleted "))

if index <= len(array1) :
  array1.insert(index,value)
else :
  print("Out of range")

print("New array is - ")
for i in array1:
  print(i,end =" ")

Enter the no of elements 2
2
Enter the value to append 1
2 1
Array in reversed order is -
1 2
4 is the length of array in bytes
Enter another array to be appended1
Appended array is -
2 1 1 Enter the index to be deleted 1
New array is -
2 1 Enter the index to be inserted 1
Enter the element to be deleted 1
New array is -
2 1 1

## Q.2

In [ ]:
from array import *

lists = list(map(int,input("Enter the no of elements").split()))
arr = array('i',lists)
newarr = array('i',[])
for i in arr:
  flg = 0
  for j in range(2,i):
    if i%j==0 : flg = 1

  if flg == 1: newarr.append(i)


for i in newarr:
  print(i,end = " ")

Enter the no of elements11

## Q.3

In [ ]:
string = str(input("Enter the string - "))
flg = 0
char = string[0]
for i in range(1,len(string)):
  if string[i] == char:
    left = string[0:i]
    right = string[i+1:len(string)]
    string = left + '@' + right
      


print(string)

Enter the string - 123
123

## Q.4

In [ ]:
string = str(input("Enter the group of strings -"))
lists = string.split(' ')
print(lists)
lists.sort()
print("Array of strings in sorted order is -")
for i in lists:
  print(i, end = " ")
print()
string2 = str(input('Enter the string to check palindrome- '))
string2rev = ''.join(reversed(string2))

if string2 == string2rev:
  print('{} is a palindrome'.format(string2))
else :
  print('{} is not a palindrome'.format(string2))

Enter the group of strings -1224
['1224']
Array of strings in sorted order is -
1224
Enter the string to check palindrome- adda
adda is a palindrome